
body {
  margin: 0;
  padding: 0;

  color: #000000;
  background-color: #f2f2f2;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 #b2b2b2;
          box-shadow: 0 0 10px 0 #b2b2b2;

  background-image: url("../img/._sedona-index.jpg");
}

/* Шапка */

.main-header {
  margin: 0 auto;

  min-height: 56px;

  background-color: white;
}

.main-navigation {
  color: #000000;
  background-color: #ffffff;

  font-size: 14px;
  line-height: 26px;
}

.site-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;


  margin: 0;
  padding:0;

  list-style: none;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;

  margin-left: -70px;

  width: 140px;
  height: 56px;
}

.site-navigation li {
  width: 20%;
  margin: 15px 0;
  padding: 0;
  text-align: center;
}

.site-navigation li:nth-child(2) {
  margin-right: 20%;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

li .active-page {
  color: #766357;

  font:inherit;
}

/*Main*/

.welcome {
  height: 510px;

  background-image: url("../img/welcome.svg"),
                    url("../img/polygon.svg"),
                    url("../img/background-photo.jpg");
  background-position: top 76px left 370px,bottom 0px center, 50% 50% ;
  background-size: 459px 353px,1200px 57px, 1200px 510px ;
  background-repeat: no-repeat;
}

.slogan {
  width: 440px;
  margin: 58px auto 28px;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

/* Причины */
.reasons h2 {
  margin: 28px auto 50px;

  color: #333333;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: normal;
}

.reasons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.reasons-list,
.recommendations-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reason-item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 280px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;

  margin: 45px 60px 60px;
  min-height: 150px;
}

.reason-item h3 {
  width: 155px;
  margin: 0 auto;

  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.reason-item p {
  margin: 0;

  font-weight: normal;
  text-align: center;
}

.reasons-list .reason-item {
    /* min-height: 256px; */
}

.reasons-list > li:first-child,
.reasons-list > li:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  color: #ffffff;
  background-color: #81b3d2;
}

.reasons-list> li:first-child {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}
.reasons-list> li:last-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.reasons-list > li:nth-child(3),
.reasons-list > li:nth-child(4),
.reasons-list > li:nth-child(5) {
  width: 400px;

  background-color:#eeeeee;
}

.recommendations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.recommendation-item {
  position: relative;

  width: 400px;
  min-height: 330px;
}

.recommendation-item h3{
  margin: 160px auto 25px;
}

.recommendation-item p {
  width: 285px;
  margin: 25px auto;

  color: #333333;
}

.recommendation-item::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  content: "";

  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -40px;

  width: 80px;
  height: 80px;

  background-repeat: no-repeat;
  background-position: center center;
}

.recommendations-list .recommendation-item:first-child::after {
  background-image: url("../img/icon-1.svg");
}

.recommendations-list .recommendation-item:nth-child(2)::after {
  background-image: url("../img/icon-3.svg");
}

.recommendations-list .recommendation-item:nth-child(3)::after {
  background-image: url("../img/icon-2.svg");
}

/* Форма */
.hotels-text {
  margin: 50px auto 0;
  margin-bottom: 47px;
  padding: 0;

  width: 440px;
  min-height: 55px;

  color: #333333;

  font-weight: normal;
  line-height: 24px;
  text-align: center;
}

.hotels-text h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.search-hotels {
  position: relative;
  padding: 0;
}

.search-hotels-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  position: absolute;
  left: 50%;

  width: 458px;
  height: auto;
  margin: 0 auto;
  margin-left: -284px;
  padding: 55px;
  /* padding-top: 41px; */


  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);

  background-color: white;
}

.search-hotels-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;

  position: relative;

  width: 100%;
  margin: 0;
  margin-bottom: 30px;
}

.search-hotels-row:nth-child(3),
.search-hotels-row:nth-child(4) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
}

.search-hotels-row:nth-child(4) label{
  padding-left: 22%;
}

.search-hotels-row label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.search-hotels-row input {
  height: 26px;
  margin: 0;
  padding: 6px;

  border: none;

  background-color: #f2f2f2;

  font: inherit;
  text-transform: uppercase;
}

.search-hotels-row input:hover {
  background-color: #ebebeb;
}

.search-hotels-row input:focus {
  border: 1px solid #e5e5e5;

  background-color: #ffffff;
}

.search-hotels-row input:first-child,
.search-hotels-row input:nth-child(2) {
  width: 290px;
  padding-right: 40px;
  padding-left: 15px;
}

.search-hotels-row input:nth-child(3),
.search-hotels-row input:nth-child(4) {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 26px;
  text-align: center;
  /* padding-top: 6px;
  padding-bottom: 6px; */
}

.calendar {
  position: absolute;
  top: 8px;
  right: 10px;

  width: 21px;
  height: 22px;

  opacity: 0.4;
  cursor: pointer;
}

.calendar:focus,
.calendar:hover {
  opacity: 1;
}

.calendar:active path {
  fill: #81b3d2;
}

/* Карта */
.map img {
  height: 475px;

  /* background-image: url("../img/map.png");
  background-size: 1200px 473px;
  background-clip: content-box; */
}

/* Кнопки */
.button {
  display: inline-block;
  border: none;

  color: #ffffff;
  background-color: #81b3d2;

  font: inherit;
  text-transform: uppercase;
}

.button-search {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 25px;
}

.button-search,
.button-open-form {
  font-size: 21px;
  line-height: 26px;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-detailed {
  padding: 3px 17px;
  margin-right: 2px;
}

.button-book {
  padding: 3px 17px;
  background-color: #766357;
}

.button-book:hover,
.button-book:focus,
.button-open-form:hover,
.button-open-form:focus {
  background-color: #604e43;
}

.button-book:active,
.button-open-form:active {
  color:rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-change-number {
  display: block;

  width: 38px;
  height: 38px;

  color: rgba(0, 1, 1, 0.15);
  background-color: #f2f2f2;

  font: inherit;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;
}

.button-change-number:hover,
.button-change-number:focus {
  color: #000000;
}

.button-change-number:active {
  color: #81b3d2;
}

.button-open-form {
  display: block;
  margin: 45px auto 0;

  width: 568px;
  height: 86px;

  background-color: #766357;
}

/* Подвал */

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack:distribute;
      justify-content:space-around;

  margin: 0;
  padding: 0;

  min-height: 120px;

  /* background-color: #ffffff; */
  background-color: rgba(255, 0, 0, 0.3);
}

.hashtag {
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 25px;
  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  margin: auto 0;
  margin-left: 10px;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  width: 46px;
  height: 48px;

  margin: 0;
  margin-right: 6px;
  padding: 0;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 210px;
  margin-right: -15px;
  margin-top: 10px;
}

.footer-copyright p {
  margin: 0;
  padding: 0;

  margin-right: 8px;

  font-weight: normal;
}

.html-academy svg {
  width:115px;
  height: 41px;
}

.html-academy:hover path,
.html-academy:focus path {
  fill: #81b3d2;
}

.html-academy:active path {
  fill: #bdbbbc;
}

/* Страница Hotel */

/* Форма поиска */
.hotels-form {
  min-height: 217px;
}

/* найдено */
.search-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;

  margin-top: 30px;
  margin-bottom: 30px;
}

.search-results .found {
  margin: 0;
  margin-left: 72px;
  margin-right: 48px;

  font-size: 21px;
  line-height: 26px;
}

.search-results .sort {
  margin: 0;
  margin-right: 40px;

  font-size: 12px;
  line-height: 18px;
}

.sort-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;

  width: 235px;

  margin: 0;
  padding: 0;

  vertical-align: middle;

  list-style: none;
}

.sort-types a {
  color: rgba(0, 0, 0, 0.3);

  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.sort-types a:hover,
.sort-types a:focus {
  color: #81b3d2;
}

.sort-types a:active {
  color: #000000;
}

.sort-types .active-sort {
  color: #81b3d2;
  border-bottom: none;
 }

 .sort-down-up {
   margin-left: 505px;
 }
 .down-up {
   margin-right: 9px;
 }

 .down-up:hover path,
 .down-up:focus path {
   fill: #231F20;
 }

 .down-up:active path,
 .active-sort-down-up path {
   fill: #81b3d2;
 }

/* Отели */

.hotels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin: 0;
  padding: 0;

  border-top: 1px solid rgba(0, 0, 0, 0.3);

  list-style: none;
}

.hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.hotel-item-image {
  margin: 30px;
  margin-left: 72px;
}

.hotel-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hotel-item-info-name h2 {
  margin: 0;
  margin-top: 25px;
}

.hotel-name {
  color: #000000;

  font: inherit;
  font-size: 21px;
  line-height: 26px;
}

.hotel-name:focus,
.hotel-name:hover {
    color:#81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type-price {
  margin-bottom: 5px;
}

.hotel-type,
.hotel-price {
  display: inline-block;
  margin: 0;
  padding: 0;

  font-weight: normal;
}

.hotel-type {
  width: 110px;
  margin-right: 3px;
}

.hotel-buttons {
  margin-bottom: 30px;
}

.hotel-item-raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  margin-right: 72px;
}

.rating-star-list {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;

  width: 100px;
  margin: 0;
  margin-top: 10px;
  padding: 0;

  list-style: none;
}

.rating-star-list li {
  padding-left: 6px;
}

.hotel-rating {
  width: 110px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  color: #666666;
  background-color: #f2f2f2;

  font-weight: normal;
  vertical-align: middle;
  text-align: center;
  line-height: 27px;

  background-color: #e2e2f2;
}
