/* body > *{
  background-color: rgba(255, 0, 0, 0.5);
}

body > * > *{
  background-color: rgba(0, 255, 0, 0.5);
}

body > * > * > *{
  background-color: rgba(0, 0, 255, 0.5);
}

body > * > * > * > *{
  background-color: rgba(0, 255, 255, 0.5);
} */


body {
  margin: 0;
  padding: 0;

  color: #000000;
  background-color: #ffffff;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* Шапка */

.main-header {
  margin: 0 auto;

  min-height: 56px;

  background-color: white;
}

.main-navigation {
  color: #000000;
  background-color: #ffffff;

  font-size: 14px;
  line-height: 26px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding:0;

  list-style: none;
}

.site-navigation li {
  width: 239px;
  height: 41px;
  margin-top: 15px;

  text-align: center;
  vertical-align: middle;
}

.site-navigation li:last-child {
  width: 244px;
  height: 56px;

  margin-top: 0;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2),
.site-navigation li:last-child {
  order: -1;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

li .active-page {
  color: #766357;

  font:inherit;
}

.main-header-logo {
  width: 138px;
  height: 70px;
}

/*Main*/

.container {
  margin: 0 auto;
  padding: 0;
}

.welcome {
  height: 510px;

  background-image: url("../img/welcome.svg"),
                    url("../img/polygon.svg"),
                    url("../img/background-photo.jpg");
  background-position: top 76px left 370px,bottom 0px center, 50% 50% ;
  background-size: 459px 353px,1200px 57px, 1200px 510px ;
  background-repeat: no-repeat;
}

.slogan {
  width: 440px;
  margin: 58px auto 0;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

/* Причины */
.reasons h2 {
  margin: 28px auto 50px;

  color: #333333;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: normal;
}

.reasons-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.reasons-list,
.recommendations-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reason-item h3,
.reason-item-description h3 {
  width: 155px;
  margin: 0 auto;
  margin-top: 45px;

  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.reason-item p,
.recommendation-item p {
  margin-top: 10px;

  font-weight: normal;
  text-align: center;
}

.recommendation-item p {
  color: #333333;
}

.reasons-list > li:first-child,
.reasons-list > li:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: #ffffff;
  background-color: #81b3d2;
}

.reasons-list> li:first-child {
  order: -2;
}
.reasons-list> li:last-child {
  order: -1;
}


.reason-item-description:first-child,
.reason-item-description:nth-child(2) {
  flex-grow: 1;
}

.reasons-list > li:nth-child(3),
.reasons-list > li:nth-child(4),
.reasons-list > li:nth-child(5) {
  width: 400px;
  min-height: 256px;
  background-color:#eeeeee;
}

.recommendations-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  min-height: 330px;
}

.recommendation-item {
  width: 400px;
}

.recommendation-item p {
  width: 285px;
  margin: 0 auto;
  margin-top: 20px;
}

/* Форма */
.hotels-text {
  margin: 50px auto 0;
  padding: 0;

  width: 440px;
  min-height: 55px;

  color: #333333;

  font-weight: normal;
  line-height: 24px;
  text-align: center;
}

.hotels-text h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.search-hotels {
  position: relative;
  padding: 0;
}

.search-hotels-form {
  position: absolute;
  left: 316px;

  width: 566px;
  height: 395px;
  margin: 0 auto;

  border: 1px solid gray;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);

  background-color: white;
}

.search-hotels-row {
  /* position: relative; */
  /* display: inline-block; */
}

.search-hotels-row input {
  background-color: #f2f2f2;

  font: inherit;
  text-transform: uppercase;
}

.search-hotels-row input:hover {
  background-color: #ebebeb;
}

.search-hotels-row input:focus {
  border: 1px solid #e5e5e5;

  background-color: #ffffff;
}

.calendar {
  /* position: absolute;
  top: 0;
  right: 0; */

  width: 21px;
  height: 22px;

  opacity: 0.4;
  cursor: pointer;
}

.calendar:focus,
.calendar:hover {
  opacity: 1;
}

.calendar:active path {
  fill: #81b3d2;
}

/* Карта */
.map {
  width: 1200px;
  height: 473px;
}

/* Кнопки */
.button {
  border: none;

  color: #ffffff;
  background-color: #81b3d2;

  font: inherit;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.button-search,
.button-open-form {
  font-size: 21px;
  line-height: 26px;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-detailed {
  display: inline-block;
  width: 110px;
  height: 21px;
  padding: 3px 0;
  margin: auto;
  margin-right: 3px;
}

.button-book {
  display: inline-block;

  width: 142px;
  height: 21px;
  padding: 3px 0;

  background-color: #766357;
}

.button-book:hover,
.button-book:focus,
.button-open-form:hover,
.button-open-form:focus {
  background-color: #604e43;
}

.button-book:active,
.button-open-form:active {
  color:rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-change-number {
  display: inline-block;

  width: 38px;
  height: 38px;

  color: rgba(0, 1, 1, 0.15);
  background-color: #f2f2f2;

  font: inherit;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;
}

.button-change-number:hover,
.button-change-number:focus {
  color: #000000;
}

.button-change-number:active {
  color: #81b3d2;
}

.button-open-form {
  display: block;
  margin: 45px auto 0;

  width: 568px;
  height: 86px;

  background-color: #766357;
}

/* Подвал */

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin: 0 auto;

  width: 1200px;
  min-height: 120px;
}

.hashtag {
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  width: 200px;
}

.footer-social ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social a {
  color: #000000;

  text-decoration: underline;
  text-decoration: none;
}

.footer-social a:hover,
.footer-social a:focus {
  color: #81b3d2;
}

.footer-social a:active {
  color: rgba(0, 0, 0, 0.3);
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 240px;
}

.footer-copyright p {
  margin: 0;
  padding: 0;

  font-weight: normal;
}

.html-academy svg {
  width:115px;
  height: 41px;
}

.html-academy:hover path,
.html-academy:focus path {
  fill: #81b3d2;
}

.html-academy:active path {
  fill: #bdbbbc;
}

/* Страница Hotel */

/* Форма поиска */
.hotels-form {
  min-height: 217px;
}

/* найдено */
.search-results {
  display: flex;
  align-items: baseline;

  margin-top: 30px;
  margin-bottom: 30px;
}

.search-results .found {
  margin: 0;
  margin-left: 72px;
  margin-right: 48px;

  font-size: 21px;
  line-height: 26px;
}

.search-results .sort {
  margin: 0;
  margin-right: 40px;

  font-size: 12px;
  line-height: 18px;
}

.sort-types {
  display: flex;
  justify-content:space-between;

  width: 235px;

  margin: 0 0 0 0;
  padding: 0;

  vertical-align: middle;

  list-style: none;
}

.sort-types a {
  color: rgba(0, 0, 0, 0.3);

  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.sort-types a:hover,
.sort-types a:focus {
  color: #81b3d2;
}

.sort-types a:active {
  color: #000000;
}

.sort-types .active-sort {
  color: #81b3d2;
  border-bottom: none;
 }

 .sort-down-up {
   margin-left: 505px;
 }
 .down-up {
   margin-right: 10px;
 }

 .down-up:hover path,
 .down-up:focus path {
   fill: #231F20;
 }

 .down-up:active path,
 .active-sort-down-up path {
   fill: #81b3d2;
 }

/* Отели */

.hotels-list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  border-top: 1px solid rgba(0, 0, 0, 0.3);

  list-style: none;
}

.hotel-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 150px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.hotel-item-image {
  margin: 30px;
  margin-left: 72px;
}

.hotel-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.hotel-item-info-name h2 {
  margin: 0;
  margin-top: 25px;
}

.hotel-name {
  color: #000000;

  font: inherit;
  font-size: 21px;
  line-height: 26px;
}

.hotel-name:focus,
.hotel-name:hover {
    color:#81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type-price {
  margin-bottom: 5px;
}

.hotel-type,
.hotel-price {
  display: inline-block;
  margin: 0;
  padding: 0;

  font-weight: normal;
}

.hotel-type {
  width: 110px;
  margin-right: 3px;
}

.hotel-buttons {
  margin-bottom: 30px;
}

.hotel-item-raiting {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;

  margin-right: 72px;
}

.rating-star-list {

  display: flex;
  flex-direction: row-reverse;

  width: 100px;
  margin: 0;
  margin-top: 10px;
  padding: 0;

  list-style: none;
}

.rating-star-list li {
  padding-left: 6px;
}

.hotel-rating {
  width: 110px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  color: #666666;
  background-color: #f2f2f2;

  font-weight: normal;
  vertical-align: middle;
  text-align: center;
  line-height: 27px;

  background-color: #e2e2f2;
}
